<div class="list-group"></div>
  <% @rainbows.each do |rainbow| %>
  <a href=<%= rainbow_path(rainbow) %> class="list-group-item list-group-item-action">
    <%=rainbow.sentence %>
  </a>
<% end %>
</div>