<h1 style="text-align: center; margin-top: 20px">一本正经地胡说八道</h1>
<h4 style="color: grey; font-size: 10pt; text-align: center">--下面内容由机器自动生成</h4>
<hr>
<div class="card">
  <div class="card-block" style="padding: 10px">
    <% @report.each do |r| %>
      <p><%= r.sentence %>
				<%= link_to '原文', r %>
			</p>

    <%end %>
  </div>
</div>

<div style="align-items: center; justify-content: center; width: 100%; padding: 10px">
<a type="button" class="btn btn-primary" href="/report">换一页</a>
</div>
